.spacer {
    aspect-ratio: 960/250;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 50px;
    margin-bottom: 25px;
  }
  
  .layer1 {
    background-image: url('../../assets/nav-bottom.svg');
  }